<html>
<head>
  <title> Sign Up! </title>
</head>
<body>
  <form action="" method="POST">

    <!-- The form tag initializes a form by using the "action" attribute
         to specify the path that the form should be submitted to (here, we
         leave it empty because we want to send the submitted data to the same
         path that it was rendered through i.e. the '/' path). We generally
         use {# "{{ url_for('handle_data') }}" #} to do m
         that by specifying the
         name of the function of the said path in the "url_for('functionname')"
         function.

         P.S. Use {# comment #} to comment Jinja commands. Jinja reads
         stuff inside html comments for some reasons if it is syntactically
         a Jinja command.

         Along with "action", the "method" attribute is used to specify the
         type of http request that is to be made to the server. For example,
         search bars aren't as confidential as password bars. Even if the
         information that we type in the search bar is relatively explicitely
         seen--for example in the url bar--when a request is made, it's not that
         big of a deal compared to passwords. Thus, for cases like search bars,
         we tend to use the "GET" method as it has its own little perks that
         are useful that we wouldn't get with other methods. Now, if we are
         working with a form that has a password bar, we evidently don't want
         our password to be relatively explicitely seen like in the "GET" method
         when making a request. Thus, for that, the "POST" method is used.

         In the usage of "GET", there is an implication that the request has
         been made to retrieve a page--like entering something in the search bar
         of a website and submitting it to get the search-specific page. In
         "POST", there is an implication that some sort of confidential
         information has been sent to the server to store or to tally with some
         already stored information for some purpose.

         Go to this link for a definitive guide :
         https://blog.teamtreehouse.com/the-definitive-guide-to-get-vs-post -->

       {{ up.hidden_tag() }}

    <!-- This is used to add a csrf token to the form. Watch this video
         to understand what a csrf token is:
         https://www.youtube.com/watch?v=vRBihr41JTo

         Here, we use double curly brackets to enclose this function as
         that is the syntax that has been set for Jinja to recognize. -->

       {{ up.FirstName.label }}
       {% if up.FirstName.errors %}

    <!--- If the validators that we inserted in the 'FirstName' object
          figure out that some entered data hasn't complied with our condition
          it stores the breaches of conditions in the 'errors' attribute of
          the 'StringField' class that we have called here. It is in the form
          of a tuple as there can be multiple errors. This tuple is iterated
          through using the for loop below to display all the errors. -->

          {{ up.FirstName }}
          {% for i in up.FirstName.errors %}
              {{ i }}
          {% endfor %}
       {% else %}
          {{ up.FirstName }}
       {% endif %}


    <!-- As 'FirstName' is an attribute of the 'SignUp' class, we
         call it here by using 'up.FirstName' command where 'up' is the
         object that we created back in 'main.py' of the 'SignUp' class. As
        'FirstName' itself is an object of the 'StringField' class, we have
         basically called our desired field here. 'up.FirstName.label' brings
         out the label that we sent as a value of an attribute of the
         'StringField' class back in 'main.py' pertaining to our 'FirstName'
         object. -->

       {{ up.MiddleName.label }}
       {% if up.MiddleName.errors %}
          {{ up.MiddleName }}
          {% for i in up.MiddleName.errors %}
              {{ i }}
          {% endfor %}
       {% else %}
          {{ up.MiddleName }}
       {% endif %}

    <!-- Doing the same as above for "MiddleName". -->

       {{ up.LastName.label }}
       {% if up.LastName.errors %}
          {{ up.LastName }}
          {% for i in up.LastName.errors %}
              {{ i }}
          {% endfor %}
       {% else %}
          {{ up.LastName }}
       {% endif %}

       {{ up.email.label }}
       {% if up.email.errors %}
          {{ up.email }}
          {% for i in up.email.errors %}
             {{ i }}
          {% endfor %}
       {% else %}
          {{ up.email }}
       {% endif %}

       {{ up.Username.label }}
       {% if up.Username.errors %}
          {{ up.Username }}
          {% for i in up.Username.errors %}
             {{ i }}
          {% endfor %}
       {% else %}
          {{ up.Username }}
       {% endif %}

       {{ up.Password.label }}
       {% if up.Password.errors %}
          {{ up.Password }}
          {% for i in up.Password.errors %}
             {{ i }}
          {% endfor %}
       {% else %}
          {{ up.Password }}
       {% endif %}

       {{ up.ConfirmPassword.label }}
       {% if up.ConfirmPassword.errors %}
          {{ up.ConfirmPassword }}
          {% for i in up.ConfirmPassword.errors %}
             {{ i }}
          {% endfor %}
       {% else %}
          {{ up.ConfirmPassword }}
       {% endif %}

       {{ up.Submit }}

      <!-- We don't need a label for 'Submit' as the button comes with
           whatever label that you put in 'forms.py' embedded in it. It's
           a feature of the 'SubmitField' class. -->

  </form>
</body>
</html>
